*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#070718,#0D0D21,#111128);
    font-family: 'Poppins', 'Montserrat', 'Inter', sans-serif;
}

header{
    position: fixed;
    background: rgba(10, 10, 25, 0.4); /* cor base semi-transparente */
    backdrop-filter: blur(12px);       /* desfoque */
    -webkit-backdrop-filter: blur(12px); /* suporte Safari */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
    width: 100%;
    height: 120px;
}

header img{
    height: 65px;
    width: 65px;
    margin-left: 55px;
    margin-top: 24px;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
    border-radius: 20px;
}

header h1{
    margin-top: -70px;
    font-weight: bold;
    margin-left: 140px;
    color: white;
}



.inicio{
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 1100px;
    font-size: 20px;
}

.inicio:hover{
    transition: 700ms;
    margin-bottom: 30px;
    text-decoration: none;
    color: #00FFD1;
    font-size: 16px;
    margin-left: 1100px;
    font-size: 20px;
}

.CTT{
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    font-size: 20px;
}

.CTT:hover{
    transition: 700ms;
    margin-bottom: 30px;
    text-decoration: none;
    color: #00FFD1;
    font-size: 16px;
    margin-left: 20px;
    font-size: 20px;
}

.creditos{
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    font-size: 20px;
}

.creditos:hover{
    transition: 700ms;
    margin-bottom: 30px;
    text-decoration: none;
    color: #00FFD1;
    font-size: 16px;
    margin-left: 20px;
    font-size: 20px;
}

.redSoc{
    margin-bottom: 30px;
    text-decoration: none;
    color: #051031;
    font-size: 16px;
    margin-left: 20px;
    font-size: 20px;
    padding: 8px 13px;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
    border-radius: 10px;
}

.redSoc:hover{
    transition: 700ms;
    padding: 10px 15px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #051031;
    font-size: 16px;
    margin-left: 20px;
    font-size: 22px;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
}

header p{
    margin-left: 140px;
    color: rgba(255, 255, 255, 0.377);
    margin-top: -20px;
}

.caixaUm{
    background: linear-gradient(#0D0D1D,#0B0B1C,#0C0C1D);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 60px;
    border-radius: 20px;
    padding: 50px 50px;
    color: white;
}

.tituloBUm{
    color: #00FFD1;
    font-size: 50px;
}

.textoBUm{
    font-size: 20px;
}

.saibMais{
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
    color: #051031;
    text-decoration: none;
    padding: 13px 26px;
    margin-right: 30px;
    border-radius: 30px;
    font-size: 18px;
}

.saibMais:hover{
    transition: 700ms;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
    color: #051031;
    text-decoration: none;
    padding: 13px 26px;
    margin-right: 30px;
    border-radius: 30px;
    font-size: 20px;
}

.falConosco{
    font-size: 18px;
    padding: 13px 26px;
    text-decoration: none;
    border: 1px solid #18182A;
    border-radius: 30px;
    color: white;
}

.falConosco:hover{
    font-size: 20px;
    padding: 13px 26px;
    text-decoration: none;
    border: 1px solid #18182A;
    border-radius: 30px;
    color: white;
    transition: 700ms;
}

.tituloConteudos{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-size: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto; 
  gap: 100px 120px; 
  padding: 10px 5px;
  text-align: center;
}

.grid-FE{
    background: linear-gradient(#0D0D1D,#0B0B1C,#0C0C1D);
    padding: 20px 20px;
    border-radius: 20px;
    margin-left: 100px;
}

.grid-FE:hover{
    border-radius: 50px;
    transition: 700ms;
}

.grid-LC{
    background: linear-gradient(#0D0D1D,#0B0B1C,#0C0C1D);
    padding: 20px 20px;
    border-radius: 20px;
}

.grid-LC:hover{
    border-radius: 50px;
    transition: 700ms;
}

.grid-FBD{
    background: linear-gradient(#0D0D1D,#0B0B1C,#0C0C1D);
    padding: 20px 20px;
    border-radius: 20px;
    margin-right: 100px;
}

.grid-FBD:hover{
    border-radius: 50px;
    transition: 700ms;
    margin-right: 100px;
}

.grid-FR{
    background: linear-gradient(#0D0D1D,#0B0B1C,#0C0C1D);
    padding: 20px 20px;
    border-radius: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.grid-FR:hover{
    border-radius: 50px;
    transition: 700ms;
    text-decoration: none;
}

.grid-LP{
    background: linear-gradient(#0D0D1D,#0B0B1C,#0C0C1D);
    border-radius: 20px;
    transition: 700ms;
}

.grid-LP:hover{
    background: linear-gradient(#0D0D1D,#0B0B1C,#0C0C1D);
    border-radius: 50px;
    transition: 700ms;
}

.grid-FTI{
    background: linear-gradient(#0D0D1D,#0B0B1C,#0C0C1D);
    padding: 20px 20px;
    border-radius: 20px;
    margin-right: 100px;
}

.grid-FTI:hover{
    border-radius: 50px;
    transition: 700ms;
    margin-right: 100px;
}


/*Tira aquela linha roxa em baixo dos links  */
.link{
    text-decoration: none;
}
/* ------------------------------------------ */


/* ---------------------Decoração dos Emojis-------------------------------- */
.emoji{
    font-size: 40px;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
    border-radius: 50%;
    width: 50px;
    margin-left: 180px;
    padding: 10px 10px;
}

.emoji:hover{
    transition: 700ms;
    text-decoration: none;
    font-size: 43px;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
    border-radius: 50%;
    width: 50px;
    margin-left: 180px;
    padding: 10px 10px;
}
/* ------------------------------------------------------------------------- */

/* Cuida de todos os títulos dos blocos de temas */
.titulo{
    color: white;
}

.titulo:hover{
    font-size: 38px;
    transition: 700ms;
}
/* ----------------------------------------------------- */

.tituloCurso{
    text-align: center;
    color: white;
    font-size: 36px;
}

main iframe{
    display: block;
    margin: 0 auto;
}

footer{
    text-align: center;
     background: rgba(10, 10, 25, 0.4);
    backdrop-filter: blur(12px);
    padding: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

footer a:hover{
    text-decoration: underline;
    color: white;
    font-size: 34px;
    transition: 700ms;
}