*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#070718,#0D0D21,#111128);
    font-family: 'Poppins', 'Montserrat', 'Inter', sans-serif;
}

header{
    position: fixed;
    background: rgba(10, 10, 25, 0.4); /* cor base semi-transparente */
    backdrop-filter: blur(12px);       /* desfoque */
    -webkit-backdrop-filter: blur(12px); /* suporte Safari */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
    width: 100%;
    height: 120px;
}

header img{
    height: 65px;
    width: 65px;
    margin-left: 55px;
    margin-top: 24px;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
    border-radius: 20px;
}

header h1{
    margin-top: -70px;
    font-weight: bold;
    margin-left: 140px;
    color: white;
}



.inicio{
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 1100px;
    font-size: 20px;
}

.inicio:hover{
    transition: 700ms;
    margin-bottom: 30px;
    text-decoration: none;
    color: #00FFD1;
    font-size: 16px;
    margin-left: 1100px;
    font-size: 20px;
}

.CTT{
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    font-size: 20px;
}

.CTT:hover{
    transition: 700ms;
    margin-bottom: 30px;
    text-decoration: none;
    color: #00FFD1;
    font-size: 16px;
    margin-left: 20px;
    font-size: 20px;
}

.creditos{
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    font-size: 20px;
}

.creditos:hover{
    transition: 700ms;
    margin-bottom: 30px;
    text-decoration: none;
    color: #00FFD1;
    font-size: 16px;
    margin-left: 20px;
    font-size: 20px;
}

.redSoc{
    margin-bottom: 30px;
    text-decoration: none;
    color: #051031;
    font-size: 16px;
    margin-left: 20px;
    font-size: 20px;
    padding: 8px 13px;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
    border-radius: 10px;
}

.redSoc:hover{
    transition: 700ms;
    padding: 10px 15px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #051031;
    font-size: 16px;
    margin-left: 20px;
    font-size: 22px;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
}

header p{
    margin-left: 140px;
    color: rgba(255, 255, 255, 0.377);
    margin-top: -20px;
}

.caixaConteudo{
    background: linear-gradient(#0D0D1D,#0B0B1C,#0C0C1D);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 60px;
    border-radius: 20px;
    padding: 50px 50px;
    color: white;
}

.caixaConteudo .tituloS{
     color: #00FFD1;
     font-size: 40px;
     text-align: center;
    }
    
.cor{
        color: #00FFD1;
}

.linhaDiv{
    margin-top: 100px;
    margin-bottom: 100px;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
    height: 6px;
    width: 100%;
}

.caixaConteudo h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

.caixaConteudo p{
    margin-bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}

.caixaConteudo img{
    display: block;      
    margin: 0 auto;
    max-width: 100%;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 300px;
}

.caixaConteudo .textoSemImg{
    margin-bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    margin-bottom: 250px;
}

.caixaConteudo .proximo{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #051031;
    font-size: 24px;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
    padding: 7px 7px;
    border-radius: 10px;
}

.caixaConteudo .proximo:hover{
    transition: 700ms;
    display: block;
    text-align: center;
    text-decoration: underline;
    color: #051031;
    font-size: 26px;
    background: linear-gradient(#00E5FD, #00F3CE, #00FEA5);
    padding: 7px 7px;
    border-radius: 15px;
}

footer{
    text-align: center;
    text-align: center;
    background: rgba(10, 10, 25, 0.4);
    backdrop-filter: blur(12px);
    padding: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

footer a:hover{
    text-decoration: underline;
    color: white;
    font-size: 34px;
    transition: 700ms;
}